@import "../../variable";

.board-content {
   overflow-x: auto;
   overflow-y: hidden;
   height: $board-content-height;
   display: flex;
   &::after{
      content: "";
      flex:0 0 10px;

   }
   &::-webkit-scrollbar {
      -webkit-appearance: none;
   }
   &::-webkit-scrollbar:horizontal {
      height: 11px;
   }
   &::-webkit-scrollbar-thumb {
      background-color: darken($card-bg-item, 15);
      border-bottom: 6px solid $board-bg-color;
      border-radius: $card-border-radius;
   }
   
   .addNew-column{

      max-width: 255px;
      font-size: 15px;
      line-height: 32px;
      color: white;
      
      padding: 4px 0 -1px 10px;
      margin-left: $gap;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, .24);
      &:hover{
         background-color: hsla(0, 0%, 100%, .14);
      }
   }

   .enterNew-column{
      max-width: 255px;
      width: 255px;
      line-height: 32px;
      padding: 4px;
      background-color: hsla(0, 0%, 100%, .24);
      margin-left: $gap;
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
      input{
         padding:  5px 0;
         &:focus{
            outline: none;
            border: 1px solid $border-color;
         }
      }
      .inputEnterNewCol{
         line-height: 35px;
         margin-bottom: 5px;
      }
      .cancel-addColumn{
         margin-left: $gap;
         cursor: pointer;
         width: 75px;
         height: 27px;
         &:hover{
            background-color: darken($danger-color, 20);
         }
         &:hover .icon{
            color: white;
         }
         i{
            font-size: 18px;
            color: rgb(201, 201, 201);
         }
      }

   }



}
