@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

$board-bg-color: rgb(5, 113, 255);
$appbar-bg-color: rgb(41, 166, 250);
$card-bg-color: #ebecf0;
$card-bg-item: rgb(255, 255, 255);
$border-color: rgb(222, 247, 243);

$text-color-main: #333;
$text-color-light: rgb(255, 255, 255);
$danger-color: #ee5234;

$gap: 10px;
$column-border-radius: 8px;
$card-border-radius: 5px;
$column-header-height: 36px;
$column-footer-height: 36px;

//4 + 5 + 90 = 99 vh and 1vh for scroll bar
$navbar-app-height: 6vh;
$navbar-board-height: 6vh;
$board-content-height: 90vh;

// responsive size
$scream-lg: 1201px;
$scream-md: 992px;
$scream-sm: 768px;
$scream-phone: 480px;

@mixin grassColor {
   background: rgba(255, 255, 255, 0.11);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
