@import "./variable";
@import "~bootstrap/scss/bootstrap";
* {
   margin: 0;
   padding: 0;
   font-family: "Source Sans Pro", sans-serif;
   line-height: 1.3em;
   font-size: 14px;
}
.App {
   height: 100vh;
   overflow: hidden;
   background-color: $board-bg-color;

   .icon {
      font-size: 14px;
      margin: 0 5px;
   }
}

.trello-container{
   margin: 0 15px;
   padding: 0;
}
.btn:focus, btn:active{
   outline: none;
   box-shadow: none;
}
